/* Menu trop stylé, Merci Jean */
.menu-link {
    position: absolute;
    width: 10px;
    height: 50px;
border: solid 5px black;}

.menu-link .hide {
    cursor: pointer;
    width: 150px;
    height: 150px;
    background: rgba(74, 74, 74, 0.397);
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 10;
    border-radius: 50%;
}

.menu-link a {
    position: relative;
    z-index: 1;
    display: flex;
    width: 150px;
    height: 150px;
    background-image: url("https://imaginative-khapse-efc2a8.netlify.app/image/profil.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    transition: width 1s;
    overflow: hidden;
    border-radius: 150px;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 2em;
    top: 20px;
    left: 20px;
}

.menu-link:hover .btnGrowth {
    width: 500px;
    border: solid rgba(0, 0, 0, 0.5) 1px;
}

/* Pour avoir une bordure noir autour du texte */
.strokeme {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}   