*{
    margin: 0;
    padding: 0;
}

.btn, .card{
    justify-content: center;
    align-items: center;
    display: flex;
    width: 60%;
    margin: auto;
    border: 5px solid rgb(255, 255, 255);
}

.card-text {
    margin-top: 10px;
    margin-bottom: 5px;
}

.section {
    display: flex;
}

body {
    height: 100vh;
    background-image: url('/img/laNuitEtoilee.jpg');
    background-repeat: no-repeat;  
    background-position: center;
    background-size: cover;
    backdrop-filter: blur(10px);
}

@media (max-width: 1000px)  {
    body {
        height: auto;
        background-image: none;
        background-color: rgb(63, 63, 63);
        backdrop-filter: none;
        height: 120%;
    }
  }